@import '../../../styles.scss';

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    padding: 10px;
    margin-bottom: 30px;
    height: 2.5rem;

    .title-text {
        color: $textColor;
        font-size: 1.3rem;
        font-weight: 500;
    }

    .search {
        display: flex;
        align-items: center;
        border: .6px solid $textColorDisabled;
        gap: 1rem;
        padding: 0.2rem;
        border-radius: 5px;

        .search-input {
            padding: 0.5rem;
            border-radius: 5px;
            width: 20rem;
            border: none;

            &:focus {
                outline: none;
            }
        }

        .search-icon {
            color: $textColorDisabled;
            cursor: pointer;

            &:hover {
                color: $textColor;
            }
        }
    }

    .add {
        margin-right: 1.5rem;
        cursor: pointer;
    }
}