@import '../../../styles.scss';

.contact-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    background-color: $bgColor;

    .contact-details-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .contact-details-title {
            font-size: 20px;
            font-weight: 600;
            // margin-bottom: 10px;
        }

        .close {
            cursor: pointer;

            &:hover {
                color: #000;
            }
        }
    }

    .contact-details-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1.5rem;

        .contact-details-item {
            display: flex;
            justify-content: space-between;
            margin-bottom: .6rem;

            .contact-details-label {
                font-weight: 500;
            }

            .contact-details-value {
                // color: $textColorDisabled;
            }
        }
    }

    .contact-details-footer {
        // margin-top: 10px;
        display: flex;
        gap: 10px;

        .contact-details-btn {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: $secondaryColor;
            color: white;
            font-size: 16px;
            cursor: pointer;
            transition: background-color .3s;
            width: 100%;

            &.delete {
                background-color: $danger;
            }

            &:hover {
                background-color: $primaryColor;
            }

        }
    }

    .isLoading {
        display: none;
    }
}