@import '../../../styles.scss';

.nav-bar {
    display: flex;
    flex-direction: column;
    // width: 16vw;
    align-items: left;
    padding: .7rem;

    .nav-bar-title {
        background-color: $primaryColor;
        margin-bottom: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $bgColor;

        .nav-bar-title-text {
            font-size: 1.3rem;
            font-weight: 500;
            cursor: pointer;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

            @media (max-width: 768px) {
                display: none;
            }
        }

        .nav-bar-toggle-btn {
            cursor: pointer;
        }

    }

    .nav-bar-links {
        display: flex;
        flex-direction: column;
        gap: .1rem;

        @media (max-width: 768px) {
            display: none;
        }

        .nav-bar-icon {
            @media (max-width: 768px) {
                display: block;
            }

            display: none;
        }

        .nav-bar-link {
            color: $bgColor;
            background-color: $primaryColor;
            font-size: 1.2rem;
            font-weight: 500;
            padding: 0.5rem;
            border-radius: 5px;
            transition: background-color 0.3s;
            cursor: pointer;


            &:hover {
                background-color: $secondaryColor;
            }

            @media (max-width: 768px) {
                display: none;
            }
        }

        .nav-bar-link.active {
            background-color: $secondaryColor;
        }
    }
}

.nav-bar-collapse {
    display: flex;
    flex-direction: column;
    // width: 16vw;
    align-items: center;
    padding: .7rem;

    .nav-bar-title-text-collapse {
        display: none;
    }

    .nav-bar-link-collapse {
        display: none;
    }

}